<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IETE-KEC | Class Performance</title>
    <link rel="stylesheet" href="styleevent.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div>
        <nav>
            <div class="nav-logo">
                <a href="/">
                    <img src="./images/iete.jpg" width="80px" height="60px">
                </a>

                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <ul class="navbar-items">
                <li>
                    <a href="/points-table">Points-Table</a>
                </li>
                <li>
                    <a href="/classper">Class Performance</a>
                </li>
                <li>
                    <a href="/event">Events</a>
                </li>
                <li>
                    <a href="/results-user">Results</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <% eventArray.forEach((item)=>{ %>
    <div class="main">
       <div class="main-container">
        <div class="secondpart">
            <div class="evnet-name">
                <h4>Event Name</h4>
                <h4 style="color: #c0392b;"><%= item.eventName %></h4>
            </div>
            <div class="evnet-name">
                <h4>Event Type</h4>
                <h4 style="color: #c0392b;"><%=item.eventType%></h4>
            </div>
            <div class="evnet-name">
                <h4>Event Date</h4>
                <h4 style="color: #c0392b;"><%= item.eventDate %></h4>
            </div>
            <div class="evnet-name">
                <h4>Cheif Guest</h4>
                <h4 style="color: #c0392b;"><%=item.eventGuest%></h4>
            </div>
            <div class="evnet-name">
                <h4>In Presence of</h4>
                <h4 style="color: #c0392b;"><%= item.eventPresence %></h4>
            </div>
            <div class="evnet-name">
                <h4>Event Place</h4>
                <h4 style="color: #c0392b;"><%= item.eventPlace %></h4>
            </div>
            <% item.eventComp.forEach((items,index)=>{ %>
                <div class="evnet-name1">
                <h4>Event Competition <%=index+1%></h4>
                <h4 style="color: #c0392b;"><%=items.name%></h4>
                <% if(items.link!==""){ %>
                   <a href="<%= items.link %>"><button class="btn-reg">Register</button></a> 
               <% } %>
            </div>
           <% }) %>
            
        </div>
   <% }) %>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="animation.js"></script>
</body>

</html>