<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IETE-KEC | Point-Table</title>
    <link rel="stylesheet" href="styleresul.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div> 
       
        <nav>
            <div class="nav-logo">
                <a href="/">
                    <img src="./images/iete.jpg" width="80px" height="60px">
                </a>

                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <ul class="navbar-items">
                <li>
                    <a href="/points-table">Points-Table</a>
                </li>
                <li>
                    <a href="/classper">Class Performance</a>
                </li>
                <li>
                    <a href="/event">Events</a>
                </li>
                <li>
                    <a href="/results-user">Results</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="table-manage">
    <% neededArray.forEach(item=>{ %>
        
        <% if(item.releaseqotta==="YES" ){ %>
            <div class="tt">
                <table class="tablee">
              <tr>
        <th colspan="6" style="text-align: center;"><h3><%= eventName %></h3></th>
    </tr>
            <tr>
                <th colspan="6" style="text-align: center;"><h3><%= item.compName %></h3></th>
            </tr>
            <tr>
                <th>S.No</th>
                <th>Year</th>
                <th>Section</th>
                <th>Roll.No</th>
                <th>Students Name</th>
                <th>Topic</th>
                <th>Domain</th>
            </tr>
            <% var x = 0 %>
            <% item.compRes.map((items)=>{ %>
               
            <% if(items.Year==="Second" ){ %>
                 <% x=x+1 %>
            <tr>
                <td><%= x %></td>
                <td><%= items.Year %></td>
                <td><%= items.Section %></td>
                <td><%= items.Roll %></td>
                <td><%= items.StudentName %></td>
                <td><%= items.Topic %></td>
                <td><%= items.Domain %></td>
            
            </tr>
            <%} %>
            <%}) %>
            <% var s = x %>
            <% item.compRes.map((items,index)=>{ %>
                
            <% if(items.Year==="Third" ){ %>
                <% s=s+1 %>
            <tr>
                <td><%= s %></td>
                <td><%= items.Year %></td>
                <td><%= items.Section %></td>
                <td><%= items.Roll %></td>
                <td><%= items.StudentName %></td>
                <td><%= items.Topic %></td>
                <td><%= items.Domain %></td>
            </tr>
            <%} %>
            <%}) %>
            <% var f = s %>
            <% item.compRes.map((items,index)=>{ %>
            <% if(items.Year==="Fourth" ){ %>
                <% f=f+1 %>
            <tr>
                <td><%= f %></td>
                <td><%= items.Year %></td>
                <td><%= items.Section %></td>
                <td><%= items.Roll %></td>
                <td><%= items.StudentName %></td>
                <td><%= items.Topic %></td>
                <td><%= items.Domain %></td>
            </tr>
            <%} %>
            <%}) %>
        </table>
            </div>
        
        <%} %>
<% }) %>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="animation.js"></script>
</body>

</html>